#clockcontainer{
    /* background-color: red; */
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url(clock.png.jpg) no-repeat;
    background-size: 100%;
    /* border: 2px solid red; */
    margin: auto;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    height: 27%;
    width: 1.52%;
    top: 25%;
    left: 49.9%;
    /* display: none; */

    /* display: none; */
   
}
#minute{
    height: 31%;
    width: 0.9%;
    top: 20%;
    left: 49.9%;
    /* opacity: 0.4; */
/* display: none;
display: none; */

}
#second{
    height: 32%;
    width: 0.6%;
    top:19%;
    left: 49.9%;
    /* opacity: 0.6; */
/* display: none; */

}
